// Variables
/* Colors*/
$primary-color: #ffc107;
$secondary-color: #141318;

$buttons-color: #f4f4f4;
$text-color: #222;

/* Sizes*/
$large-text: 1.2rem;
$medium-text: 1rem;
$small-text: 0.8rem;

// Resets
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  margin: 0;
}

// Header
header {
  background-color: $secondary-color;
  .container__header {
    margin: auto;
    width: 90%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-content: center;

    .logo {
      width: 50%;
      display: flex;
      justify-content: left;
      align-items: center;
    }

    .navigation {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .navigation__list {
        height: 100%;
        list-style: none;
        display: flex;
        align-items: center;

        button {
          margin-left: 20px;
          cursor: pointer;
          font-size: 16px;
          font-weight: bold;
        }
      }
    }
  }
  .modal {
    .modal-header {
      display: flex;
      justify-content: center;
    }
    .form-group {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .form-group__title {
      .register,
      .login {
        margin-bottom: 20px;
        width: 300px;
      }
    }
    .form-group__title--modifieris {
      display: flex;
      flex-direction: column;
    }
  }
}

.btn-warning:focus {
  color: #212529;
  background-color: #ffc107;
  border: 1px solid transparent;
  box-shadow: none;
}

// Main
.wrapper {
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  .container__main {
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    .container__user {
      display: flex;
      justify-content: space-around;
      align-content: center;

      div {
        margin: 50px 0;
        width: 100%;
        height: 300px;
        background-color: $primary-color;
      }
    }

    .container__users {
      margin: 50px 0;
      display: flex;
      justify-content: space-between;
      align-content: center;
      flex-wrap: wrap;

      div {
        margin-bottom: 20px;
        width: 24%;
        height: 150px;
        background-color: $primary-color;
      }
    }
  }
}

// Footer
footer {
  height: 50px;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: $secondary-color;

  p {
    padding-top: 15px;
  }
}
