// Variables
/* Colors*/
$primary-color: #ffc107;
$secondary-color: #141318;

$buttons-color: #f4f4f4;
$text-color: #222;

/* Sizes*/
$large-text: 1.2rem;
$medium-text: 1rem;
$small-text: 0.8rem;

// Resets
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

body {
  // background-color: #101013e3;
  background-color: #fff;
}

ul {
  margin: 0;
}
li {
  list-style: none;
}
.avatar {
  display: none;
}
.loggedIn {
  .signup-button {
    display: none;
  }
  .avatar {
    display: block;
  }
}

// Header
header {
  width: 100%;
  background-color: #101013e3;
  background-image: linear-gradient(
    180deg,
    #101013 15%,
    rgba(16, 16, 19, 0.84) 65%,
    rgba(16, 16, 19, 0)
  );
  .container__header {
    margin: auto;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-content: center;
    .sign-in-triggers {
      margin-right: 10%;
      height: 100%;
      width: 100%;
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      button {
        margin-left: 20px;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
      }
    }
    .logo {
      width: 50%;
      display: flex;
      justify-content: left;
      align-items: center;
    }

    .navigation {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .navigation__list {
        height: 100%;
        list-style: none;
        display: flex;
        align-items: center;

        button {
          margin-left: 20px;
          padding: 10px 30px;
          cursor: pointer;
          font-size: 16px;
          font-weight: bold;
          text-transform: uppercase;
          transition: background-color 0.2s ease-in-out;
        }
      }
    }
  }
  .modal {
    .modal-header {
      display: flex;
      justify-content: center;
    }
    .form-group {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .form-group__title {
      .register,
      .login {
        margin-bottom: 20px;
        width: 300px;
      }
    }
    .form-group__title--modifieris {
      display: flex;
      flex-direction: column;
    }
  }
}

.btn-warning:focus {
  color: #212529;
  background-color: #ffc107;
  border: 1px solid transparent;
  box-shadow: none;
}

// Main
.wrapper {
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: #101013e3;

  .container__main {
    margin: 50px auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    .container__user {
      margin: auto;
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-content: center;
      background-color: rgba(20, 20, 25, 0);
      background-image: radial-gradient(
        circle farthest-corner at 80% 80%,
        #1413182d,
        #1414195e
      );
      border-radius: 10px;

      div {
        margin: 60px 0 60px 0;
        width: 90%;
        height: 300px;
      }
    }

    .container__users {
      margin: 100px 0 50px 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-content: center;

      h1 {
        margin-top: 10px;
        font-size: 25px;
        line-height: 35px;
        text-transform: uppercase;
        color: #ffc107;
      }

      .usersReviews {
        margin: 25px 0 25px 0;
        display: flex;
        justify-content: space-between;
        align-content: center;
        flex-wrap: wrap;
      }

      .usersReviews div {
        width: 23%;
        height: 400px;
        border-radius: 10px;

        .blogImage {
          width: 100%;
          background-image: url("https://images.zmonescinema.lt/photo/614a1888-71d1-11eb-9203-aa0000cf3b3e/270x400/602e3cd5db67a_Nykstancios_zuvys_700x1000.jpg");
          background-size: cover;
          transition: all 0.2s ease-in-out;
          cursor: pointer;

          &:hover {
            box-shadow: 0 20px 30px -8px rgba(0, 0, 0, 0.486);
            transform: translateY(-10px);
          }

          .blogInfo {
            margin: auto;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            background-color: rgba(12, 12, 12, 0.836);
            display: none;

            h2 {
              font-size: 30px;
              font-weight: 400;
              color: #fff;
              text-align: center;
            }

            h4 {
              font-size: 20px;
              font-weight: lighter;
              color: #fff;
              text-align: center;
            }

            button {
              margin: 40px 80px 0 80px;
              padding: 10px 30px;
              background-color: $primary-color;
              border: none;
              border-radius: 5px;
              cursor: pointer;
              font-size: 16px;
              font-weight: bold;
              text-transform: uppercase;
              transition: background-color 0.2s ease-in-out;
            }
          }
        }
      }
    }
  }
}

// .hide {
//   display: none;
// }

// Footer
footer {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #101013e3;
  background-image: linear-gradient(
    0deg,
    #101013 15%,
    rgba(16, 16, 19, 0.84) 65%,
    rgba(16, 16, 19, 0)
  );

  p {
    padding-top: 40px;
    color: rgba(255, 255, 255, 0.226);
  }
}
