/* Colors*/
/* Sizes*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif; }

section {
  padding: 50px 0; }

body {
  background-color: #fff; }

ul {
  margin: 0; }

li {
  list-style: none; }

h1 {
  font-size: 1.5rem; }

.main-bg h1,
.main-bg h2,
.main-bg h3,
.main-bg h4 {
  color: #ffc107; }

.brand-name {
  font-size: 20px; }

.avatar {
  display: none; }

.loggedIn .signup-button {
  display: none; }

.loggedIn .avatar {
  display: block; }

.sign-in-triggers .signup-button:first-child {
  margin-right: 5px; }

.navbar-dark .navbar-nav .nav-link {
  color: #fff; }

header {
  width: 100%;
  background-color: #101013e3;
  background-image: linear-gradient(180deg, #101013 15%, rgba(16, 16, 19, 0.84) 65%, rgba(16, 16, 19, 0)); }
  header .user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%; }
  header a {
    color: #ffc107; }
    header a:hover {
      color: #fff;
      text-decoration: none; }
  header .container__header {
    margin: auto;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-content: center; }
    header .container__header .sign-in-triggers {
      margin-right: 10%;
      height: 100%;
      width: 100%;
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: flex-end; }
      header .container__header .sign-in-triggers button {
        margin-left: 20px;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold; }
    header .container__header .logo {
      margin-left: 10%;
      width: 30%;
      display: flex;
      justify-content: left;
      align-items: center; }
    header .container__header .navigation {
      width: 70%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end; }
      header .container__header .navigation .navigation__list {
        width: 100%;
        height: 100%;
        list-style: none;
        display: flex;
        justify-content: space-around;
        align-items: center; }
        header .container__header .navigation .navigation__list li {
          color: #ffc107;
          cursor: pointer;
          text-transform: uppercase; }
          header .container__header .navigation .navigation__list li:hover {
            color: #fff; }
  header .modal .modal-header {
    display: flex;
    justify-content: center; }
  header .modal .form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  header .modal .form-group__title .register,
  header .modal .form-group__title .login {
    margin-bottom: 20px;
    width: 300px; }
  header .modal .form-group__title--modifieris {
    display: flex;
    flex-direction: column; }

.btn-warning:focus {
  color: #212529;
  background-color: #ffc107;
  border: 1px solid transparent;
  box-shadow: none; }

.filter-wrapper {
  margin-bottom: 25px; }

.filter__single-item {
  padding: 3px 20px 5px 20px;
  border-radius: 20px;
  margin: 0 5px;
  cursor: pointer;
  background-color: #111114; }

.filter__single-item.current, .filter__single-item:hover {
  color: #ffc107; }

.oneUserblogItem {
  height: auto; }
  .oneUserblogItem .hide_content {
    display: none; }
  .oneUserblogItem .oneUserblogItem__image img {
    background-color: rgba(255, 255, 255, 0.212);
    width: 100%;
    height: 300px;
    border-radius: 10px; }
  .oneUserblogItem .blogItem__description {
    height: 110px;
    overflow: hidden; }
  .oneUserblogItem .oneUserblogItem__info {
    margin-top: 20px; }
    .oneUserblogItem .oneUserblogItem__info h3 {
      margin-bottom: 5px;
      font-size: 22px;
      color: #ffc107;
      text-transform: uppercase; }
    .oneUserblogItem .oneUserblogItem__info h4 {
      margin-bottom: 15px;
      font-size: 18px;
      color: #ffc107; }
    .oneUserblogItem .oneUserblogItem__info p {
      color: #fff; }
    .oneUserblogItem .oneUserblogItem__info button {
      padding: 10px 30px;
      background-color: #ffc107;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
      transition: background-color 0.2s ease-in-out; }

.users h2 {
  margin-top: 10px;
  font-size: 25px;
  line-height: 35px;
  text-transform: uppercase;
  color: #ffc107; }

.users .usersBlogItems {
  margin: 25px 0 25px 0;
  display: flex;
  flex-direction: column;
  align-content: center; }
  .users .usersBlogItems .blogItem {
    margin: 10px 0 50px 0;
    height: 700px;
    border-radius: 10px; }
    .users .usersBlogItems .blogItem .blogImage {
      width: 100%;
      height: 700px;
      border-radius: 10px;
      background-image: url("https://images.zmonescinema.lt/photo/614a1888-71d1-11eb-9203-aa0000cf3b3e/270x400/602e3cd5db67a_Nykstancios_zuvys_700x1000.jpg");
      background-size: cover;
      transition: all 0.2s ease-in-out;
      cursor: pointer; }
      .users .usersBlogItems .blogItem .blogImage:hover {
        box-shadow: 0 20px 30px -8px rgba(0, 0, 0, 0.486);
        transform: translateY(-10px); }
      .users .usersBlogItems .blogItem .blogImage .blogInfo {
        margin: auto;
        width: 100%;
        height: 700px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        border-radius: 10px;
        background-color: rgba(12, 12, 12, 0.836);
        display: none; }
        .users .usersBlogItems .blogItem .blogImage .blogInfo h3 {
          font-size: 30px;
          font-weight: 400;
          color: #fff;
          text-align: center; }
        .users .usersBlogItems .blogItem .blogImage .blogInfo h4 {
          font-size: 20px;
          font-weight: lighter;
          color: #fff;
          text-align: center; }
        .users .usersBlogItems .blogItem .blogImage .blogInfo button {
          margin: 40px 60px 0 60px;
          padding: 10px 30px;
          background-color: #ffc107;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          font-size: 16px;
          font-weight: bold;
          text-transform: uppercase;
          transition: background-color 0.2s ease-in-out; }

/* INPUT TEXTAREA */
::placeholder {
  color: #6c757d;
  opacity: 1; }

.field-style {
  height: 70px;
  margin-top: 0;
  margin-bottom: 20px;
  border: 1px #000;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: none;
  color: #6c757d;
  font-size: 17px;
  font-weight: 700;
  padding: 10px 15px; }

.editor {
  width: 100%;
  max-width: 100%;
  height: 350px;
  text-align: left;
  color: #6c757d; }

.selectWrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 2px; }
  .selectWrapper select {
    font-size: 18px;
    line-height: 18px;
    width: 100%;
    height: 100%;
    border: none;
    box-shadow: none;
    color: #6c757d;
    background: transparent;
    outline: none;
    cursor: pointer;
    overflow: hidden; }

/* VIEW PROFILE PAGE */
.user__image {
  width: 150px;
  height: 150px;
  border: 2px solid #ffc107;
  border-radius: 50%; }

.card {
  padding: 25px; }

.card--dark {
  background-color: rgba(20, 20, 25, 0);
  background-image: radial-gradient(circle farthest-corner at 80% 80%, #1413182d, #1414195e);
  border-radius: 10px; }

.blog__item {
  margin-bottom: 20px; }

.main-bg {
  background-color: #101013e3;
  color: #fff; }

.grey-bg {
  background-color: #f5f5f5; }

@media screen and (min-width: 768px) {
  .section {
    padding: 40px 0; }
  h1 {
    font-size: 2.5rem; } }

@media screen and (min-width: 992px) {
  .user__image {
    width: 200px;
    height: 200px; } }

footer {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #101013e3;
  background-image: linear-gradient(0deg, #101013 15%, rgba(16, 16, 19, 0.84) 65%, rgba(16, 16, 19, 0)); }
  footer p {
    margin-left: 10%;
    width: 50%;
    padding-top: 40px;
    display: flex;
    justify-content: flex-end;
    color: rgba(255, 255, 255, 0.226); }
  footer .navigation__list {
    margin-right: 10%;
    width: 50%;
    padding-top: 40px;
    display: flex;
    justify-content: flex-start; }
    footer .navigation__list li {
      margin: 0 20px;
      color: rgba(255, 255, 255, 0.226);
      cursor: pointer; }

@media screen and (min-width: 1040px) {
  .oneUser .oneUserblogItem {
    flex-direction: row; }
    .oneUser .oneUserblogItem .oneUserblogItem__image {
      margin-right: 20px;
      width: 60%;
      height: 100%; }
    .oneUser .oneUserblogItem .oneUserblogItem__info {
      margin-top: 0px;
      margin-left: 30px;
      padding-right: 30px;
      width: 40%;
      height: 100%; }
  .users h2 {
    margin-top: 10px;
    font-size: 25px;
    line-height: 35px;
    text-transform: uppercase;
    color: #ffc107; }
  .users .usersBlogItems {
    margin: 25px 0 25px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap; }
    .users .usersBlogItems .blogItem {
      width: 23%;
      height: 400px;
      border-radius: 10px; }
      .users .usersBlogItems .blogItem .blogImage {
        height: 400px; }
        .users .usersBlogItems .blogItem .blogImage .blogInfo {
          height: 400px; } }
