/* Colors*/
/* Sizes*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul {
  margin: 0; }

header {
  background-color: #141318; }
  header .container__header {
    margin: auto;
    width: 90%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-content: center; }
    header .container__header .logo {
      width: 50%;
      display: flex;
      justify-content: left;
      align-items: center; }
    header .container__header .navigation {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end; }
      header .container__header .navigation .navigation__list {
        height: 100%;
        list-style: none;
        display: flex;
        align-items: center; }
        header .container__header .navigation .navigation__list button {
          margin-left: 20px;
          cursor: pointer;
          font-size: 16px;
          font-weight: bold; }
  header .modal .modal-header {
    display: flex;
    justify-content: center; }
  header .modal .form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  header .modal .form-group__title .register,
  header .modal .form-group__title .login {
    margin-bottom: 20px;
    width: 300px; }
  header .modal .form-group__title--modifieris {
    display: flex;
    flex-direction: column; }

.btn-warning:focus {
  color: #212529;
  background-color: #ffc107;
  border: 1px solid transparent;
  box-shadow: none; }

.wrapper {
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center; }
  .wrapper .container__main {
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center; }
    .wrapper .container__main .container__user {
      display: flex;
      justify-content: space-around;
      align-content: center; }
      .wrapper .container__main .container__user div {
        margin: 50px 0;
        width: 100%;
        height: 300px;
        background-color: #ffc107; }
    .wrapper .container__main .container__users {
      margin: 50px 0;
      display: flex;
      justify-content: space-between;
      align-content: center;
      flex-wrap: wrap; }
      .wrapper .container__main .container__users div {
        margin-bottom: 20px;
        width: 24%;
        height: 150px;
        background-color: #ffc107; }

footer {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #141318; }
  footer p {
    padding-top: 15px; }
